In [1]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))


df.append(df2, ignore_index=True)
df

   A  B
0  1  2
1  3  4

In [2]:
import config
from macdlib import *
from backtestlib import *

config.g_config.DEV_MODEL = "backtest_"
STOCK_CODE = 'SZ.002405'
get_all_backtest_data('SZ.002405')
compute_df_bar([STOCK_CODE])

fname = df_file_name(STOCK_CODE, KLType.K_60M)
df60 = pd.read_csv(fname, index_col=0)

df60

2019-09-14 17:24:47,463 [open_context_base.py] _socket_reconnect_and_wait_ready:256: Start connecting: host=cxu-pc; port=11111;
2019-09-14 17:24:47,508 [open_context_base.py] on_connected:344: Connected : conn_id=1;
2019-09-14 17:24:47,532 [open_context_base.py] _handle_init_connect:444: InitConnect ok: conn_id=1; info={'server_version': 203, 'login_user_id': 1509176, 'conn_id': 6578569067461588682, 'conn_key': '35C6524CB6C54B5B', 'keep_alive_interval': 10, 'is_encrypt': False};
d:\program files\python3.7\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,close,code,high,time_key,diff,macd_bar,ma5,ma10,em_bar
0,17.035843,SZ.002405,18.055832,2017-09-15 10:30:00,0.000000,0.000000,17.035843,17.035843,0.00
1,17.129175,SZ.002405,17.262507,2017-09-15 11:30:00,0.007445,0.011913,17.082509,17.082509,0.00
2,16.949177,SZ.002405,17.255840,2017-09-15 14:00:00,-0.001165,-0.004247,17.038065,17.038065,0.00
3,16.702513,SZ.002405,17.029176,2017-09-15 15:00:00,-0.027575,-0.045653,16.954177,16.954177,0.00
4,16.922510,SZ.002405,16.995843,2017-09-18 10:30:00,-0.030402,-0.041046,16.925844,16.947843,-0.02
5,16.849178,SZ.002405,16.935844,2017-09-18 11:30:00,-0.038121,-0.045187,16.855844,16.931399,-0.08
6,16.829178,SZ.002405,17.015843,2017-09-18 14:00:00,-0.045329,-0.047683,16.825845,16.916796,-0.09
7,16.849178,SZ.002405,16.915844,2017-09-18 15:00:00,-0.048865,-0.043803,16.862511,16.908344,-0.05
8,17.182508,SZ.002405,17.349173,2017-09-19 10:30:00,-0.024488,0.003961,16.927510,16.938807,-0.01
9,17.022509,SZ.002405,17.182508,2017-09-19 11:30:00,-0.017873,0.013752,16.970843,16.937325,0.03
10,17.075842,SZ.002405,17.102509,2017-09-19 14:00:00,-0.008233,0.026427,17.032509,16.931399,0.10
11,16.889177,SZ.002405,17.215841,2017-09-19 15:00:00,-0.015476,0.009551,17.042509,16.924733,0.12
12,17.129175,SZ.002405,17.229174,2017-09-20 10:30:00,-0.001830,0.029475,17.029176,16.972140,0.06
13,17.169175,SZ.002405,17.262507,2017-09-20 11:30:00,0.012073,0.045825,17.065842,16.999547,0.07
14,17.309173,SZ.002405,17.335840,2017-09-20 14:00:00,0.033996,0.071737,17.124175,17.050657,0.07
15,17.229174,SZ.002405,17.402506,2017-09-20 15:00:00,0.044404,0.074041,17.209174,17.095101,0.11
16,17.282507,SZ.002405,17.482505,2017-09-21 10:30:00,0.056306,0.078277,17.247507,17.143249,0.10
17,17.362506,SZ.002405,17.509171,2017-09-21 11:30:00,0.071371,0.086725,17.295840,17.163249,0.13
18,17.049176,SZ.002405,17.362506,2017-09-21 14:00:00,0.057366,0.046972,17.230841,17.166212,0.06
19,16.889177,SZ.002405,17.069176,2017-09-21 15:00:00,0.032976,-0.001446,17.145841,17.145471,0.00
20,16.669180,SZ.002405,16.929177,2017-09-22 10:30:00,-0.004058,-0.060412,16.992510,17.121027,-0.13
21,16.709179,SZ.002405,16.842511,2017-09-22 11:30:00,-0.029837,-0.089575,16.829178,17.074361,-0.25
22,17.042509,SZ.002405,17.055842,2017-09-22 14:00:00,-0.023103,-0.060886,16.827511,17.060287,-0.23
23,17.029176,SZ.002405,17.149175,2017-09-22 15:00:00,-0.018628,-0.041548,16.862511,17.029176,-0.17
24,17.195841,SZ.002405,17.249174,2017-09-25 10:30:00,-0.001614,-0.006016,16.994176,17.025472,-0.03
25,17.202508,SZ.002405,17.222507,2017-09-25 11:30:00,0.012266,0.017395,17.117508,17.016584,0.10
26,17.422505,SZ.002405,17.562504,2017-09-25 14:00:00,0.040551,0.059171,17.212508,17.023250,0.19
27,17.469172,SZ.002405,17.655836,2017-09-25 15:00:00,0.065972,0.088011,17.322506,17.069916,0.25
28,17.282507,SZ.002405,17.769169,2017-09-26 10:30:00,0.070246,0.077247,17.344173,17.113620,0.23
29,17.115842,SZ.002405,17.275840,2017-09-26 11:30:00,0.059499,0.044602,17.322506,17.163249,0.16
...,...,...,...,...,...,...,...,...,...
1914,16.240000,SZ.002405,NaN,2019-09-03 14:00:00,0.184740,-0.029088,16.242500,16.052222,0.19
1915,16.400000,SZ.002405,NaN,2019-09-03 15:00:00,0.193867,-0.008666,16.300000,16.126667,0.17
1916,16.320000,SZ.002405,NaN,2019-09-04 10:30:00,0.192427,-0.009237,16.322500,16.201111,0.12
1917,16.050000,SZ.002405,NaN,2019-09-04 11:30:00,0.167568,-0.047165,16.252500,16.205556,0.05
1918,16.100000,SZ.002405,NaN,2019-09-04 14:00:00,0.150170,-0.065568,16.217500,16.217778,-0.00
1919,16.330000,SZ.002405,NaN,2019-09-04 15:00:00,0.153175,-0.047646,16.200000,16.241111,-0.04
1920,16.770000,SZ.002405,NaN,2019-09-05 10:30:00,0.188884,0.019018,16.312500,16.307778,0.00
1921,16.890000,SZ.002405,NaN,2019-09-05 11:30:00,0.224281,0.071849,16.522500,16.381111,0.14
1922,16.910000,SZ.002405,NaN,2019-09-05 14:00:00,0.251054,0.100315,16.725000,16.445556,0.28
1923,16.750000,SZ.002405,NaN,2019-09-05 15:00:00,0.256405,0.088814,16.830000,16.502222,0.33
1924,16.770000,SZ.002405,NaN,2019-09-06 10:30:00,0.259270,0.075636,16.830000,16.543333,0.29
1925,16.940000,SZ.002405,NaN,2019-09-06 11:30:00,0.272122,0.081072,16.842500,16.612222,0.23
1926,16.760000,SZ.002405,NaN,2019-09-06 14:00:00,0.264731,0.053032,16.805000,16.691111,0.11
1927,17.100000,SZ.002405,NaN,2019-09-06 15:00:00,0.283046,0.071730,16.892500,16.802222,0.09
1928,17.360000,SZ.002405,NaN,2019-09-09 10:30:00,0.314911,0.108367,17.040000,16.916667,0.12
1929,17.600000,SZ.002405,NaN,2019-09-09 11:30:00,0.355432,0.151528,17.205000,17.008889,0.20
1930,17.600000,SZ.002405,NaN,2019-09-09 14:00:00,0.383130,0.165538,17.415000,17.087778,0.33
1931,17.880000,SZ.002405,NaN,2019-09-09 15:00:00,0.422800,0.195903,17.610000,17.195556,0.41
1932,17.370000,SZ.002405,NaN,2019-09-10 10:30:00,0.408378,0.133648,17.612500,17.264444,0.35
1933,17.350000,SZ.002405,NaN,2019-09-10 11:30:00,0.390830,0.078841,17.550000,17.328889,0.22
1934,17.400000,SZ.002405,NaN,2019-09-10 14:00:00,0.376616,0.040331,17.500000,17.380000,0.12
1935,17.500000,SZ.002405,NaN,2019-09-10 15:00:00,0.369165,0.020343,17.405000,17.462222,-0.06
1936,17.390000,SZ.002405,NaN,2019-09-11 10:30:00,0.350346,-0.013837,17.410000,17.494444,-0.08
1937,17.390000,SZ.002405,NaN,2019-09-11 11:30:00,0.331609,-0.041049,17.420000,17.497778,-0.08
1938,17.150000,SZ.002405,NaN,2019-09-11 14:00:00,0.294004,-0.093006,17.357500,17.447778,-0.09
1939,17.140000,SZ.002405,NaN,2019-09-11 15:00:00,0.260394,-0.128182,17.267500,17.396667,-0.13
1940,17.330000,SZ.002405,NaN,2019-09-12 10:30:00,0.246250,-0.125175,17.252500,17.335556,-0.08
1941,17.490000,SZ.002405,NaN,2019-09-12 11:30:00,0.245126,-0.101939,17.277500,17.348889,-0.07
1942,17.380000,SZ.002405,NaN,2019-09-12 14:00:00,0.232677,-0.101469,17.335000,17.352222,-0.02
1943,17.480000,SZ.002405,NaN,2019-09-12 15:00:00,0.228249,-0.088260,17.420000,17.361111,0.06

In [3]:
red_areas, blue_areas = find_successive_bar_areas(df60, 'macd_bar')
blue_areas

[(0, 0),
 (2, 7),
 (19, 24),
 (32, 36),
 (39, 44),
 (56, 83),
 (104, 106),
 (142, 145),
 (152, 167),
 (182, 199),
 (212, 212),
 (214, 214),
 (243, 257),
 (268, 268),
 (284, 288),
 (299, 313),
 (319, 336),
 (361, 395),
 (451, 461),
 (464, 481),
 (483, 503),
 (525, 534),
 (536, 552),
 (559, 559),
 (572, 580),
 (589, 600),
 (618, 643),
 (659, 678),
 (720, 739),
 (771, 780),
 (788, 793),
 (806, 806),
 (810, 819),
 (835, 864),
 (895, 921),
 (933, 943),
 (957, 974),
 (981, 985),
 (1010, 1045),
 (1069, 1073),
 (1078, 1083),
 (1100, 1118),
 (1137, 1139),
 (1142, 1165),
 (1171, 1175),
 (1188, 1203),
 (1215, 1231),
 (1240, 1259),
 (1283, 1283),
 (1300, 1320),
 (1343, 1344),
 (1366, 1368),
 (1382, 1385),
 (1396, 1416),
 (1420, 1422),
 (1433, 1434),
 (1437, 1451),
 (1473, 1480),
 (1505, 1529),
 (1539, 1555),
 (1559, 1564),
 (1568, 1583),
 (1611, 1616),
 (1628, 1634),
 (1642, 1660),
 (1686, 1700),
 (1708, 1722),
 (1724, 1727),
 (1738, 1767),
 (1791, 1791),
 (1811, 1811),
 (1820, 1850),
 (1881, 1892),
 (1904, 1919),
 (1936, 1943)]

In [4]:
df_blue = do_bar_wave_tag(df60, 'macd_bar', blue_areas)
df_blue['_macd_bar_tag']*=-1
df_buy = df_blue[df_blue._macd_bar_tag==-2]
df_buy.shape

(90, 2)

In [5]:
df_buy

      macd_bar  _macd_bar_tag
6     0.047683             -2
21    0.089575             -2
41    0.068303             -2
63    0.156635             -2
71    0.322856             -2
75    0.313582             -2
157   0.473439             -2
164   0.233927             -2
188   0.912455             -2
249   0.319858             -2
285   0.038925             -2
305   0.097367             -2
310   0.097287             -2
326   0.287804             -2
328   0.337546             -2
365   0.215733             -2
368   0.219362             -2
375   0.252139             -2
389   0.433862             -2
455   0.216907             -2
474   0.275436             -2
486   0.082903             -2
492   0.117412             -2
499   0.414873             -2
531   0.183588             -2
538   0.115124             -2
547   0.184524             -2
575   0.309658             -2
596   0.301372             -2
623   0.176641             -2
...        ...            ...
1251  0.062902             -2
1305  0.119564             -2
1315  0.085240             -2
1406  0.321008             -2
1413  0.184676             -2
1443  0.463173             -2
1476  0.189477             -2
1512  0.465189             -2
1523  0.201027             -2
1528  0.122646             -2
1547  0.264025             -2
1549  0.273248             -2
1575  0.572933             -2
1614  0.064900             -2
1631  0.108043             -2
1646  0.098598             -2
1653  0.095993             -2
1691  0.200913             -2
1714  0.209773             -2
1745  0.131131             -2
1751  0.360931             -2
1763  0.197842             -2
1826  0.148235             -2
1833  0.193797             -2
1837  0.159629             -2
1846  0.133980             -2
1888  0.195755             -2
1907  0.164690             -2
1918  0.065568             -2
1939  0.128182             -2

[90 rows x 2 columns]

In [6]:
buy_dates = df_buy.index.array
for i in buy_dates:
    dt = df60.at[i,'time_key']
    #print(dt)
    # 问题的关键在这里，这里需要结合多种情况打分，但现在就以当前价格买入，后面4天内高点跑路
    buy_price = df60.at[i,'close']
    sell_price = df60[i:i+4*4].high.max()
    print(f'{buy_price}        {sell_price}')

16.829178        17.5091712
16.709179199999998        17.7691686
16.882510800000002        19.335819600000004
17.8825008        18.4491618
16.995843        17.162508
16.329183        17.002509600000003
19.4758182        21.8824608
19.5358176        22.529121
17.835834600000005        18.7358256
17.255840399999997        17.955833399999996
17.375839199999998        18.3891624
17.355839399999994        18.135831600000003
17.3425062        18.135831600000003
16.29585        16.595847
15.5691906        16.595847
16.2891834        16.402515599999994
15.895854        16.329183
15.189194400000002        15.662523
12.9492168        13.6758762
15.762522        16.942510199999994
15.62919        16.462515
15.895854        16.3558494
15.4491918        15.8158548
14.029206        14.2025376
16.629179999999998        nan
16.882510800000002        nan
16.529181        nan
16.9225104        nan
16.2491838        nan
17.0425092        nan
16.795845        nan
16.562514        nan
15.4225254        nan
15.129195        nan
12.929217        nan
12.195891        nan
12.6358866        nan
12.1558914        nan
12.7425522        nan
12.723876        nan
11.790552        nan
12.8638746        nan
12.9772068        nan
12.7638756        nan
12.99054        nan
12.1705482        nan
12.2038812        nan
11.6038872        nan
9.9639036        nan
9.8839044        nan
9.8372382        nan
10.5638976        nan
10.423899        nan
10.823895        nan
10.3705662        nan
10.023903        nan
10.1772348        nan
10.057236        nan
9.8439048        nan
9.723906        nan
9.3439098        nan
10.4505654        nan
10.4505654        nan
15.0371862        nan
15.090519        nan
14.7305226        nan
13.9771968        nan
16.5371712        nan
16.8505014        nan
16.8971676        nan
17.050499399999996        nan
16.7638356        nan
14.0838624        nan
14.4171924        nan
14.457192        nan
14.470525199999996        nan
14.2038612        nan
15.64        nan
15.9        nan
16.3        nan
15.06        nan
14.0        nan
14.5        nan
13.92        nan
13.96        nan
13.28        nan
14.74        nan
15.65        nan
16.1        nan
17.14        nan