In [1]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))


df.append(df2, ignore_index=True)
df

   A  B
0  1  2
1  3  4

In [2]:
import config
from macdlib import *
from backtestlib import *

config.g_config.DEV_MODEL = "backtest_"
STOCK_CODE = 'SZ.002405'
#get_all_backtest_data('SZ.002405')
compute_df_bar([STOCK_CODE])

fname = df_file_name(STOCK_CODE, KLType.K_60M)
df60 = pd.read_csv(fname, index_col=0)

df60

,code,time_key,close,high,low,diff,macd_bar,ma5,ma10,em_bar
0,SZ.002405,2017-09-18 10:30:00,16.922510,16.995843,16.629180,0.000000,0.000000,NaN,NaN,NaN
1,SZ.002405,2017-09-18 11:30:00,16.849178,16.935844,16.802512,-0.005850,-0.009360,NaN,NaN,NaN
2,SZ.002405,2017-09-18 14:00:00,16.829178,17.015843,16.815845,-0.011962,-0.017267,NaN,NaN,NaN
3,SZ.002405,2017-09-18 15:00:00,16.849178,16.915844,16.722512,-0.015019,-0.018705,NaN,NaN,NaN
4,SZ.002405,2017-09-19 10:30:00,17.182508,17.349173,16.922510,0.009348,0.024023,16.926510,NaN,NaN
5,SZ.002405,2017-09-19 11:30:00,17.022509,17.182508,16.962510,0.015569,0.029171,16.946510,NaN,NaN
6,SZ.002405,2017-09-19 14:00:00,17.075842,17.102509,16.835845,0.024519,0.037658,16.991843,NaN,NaN
7,SZ.002405,2017-09-19 15:00:00,16.889177,17.215841,16.829178,0.016362,0.017075,17.003843,NaN,NaN
8,SZ.002405,2017-09-20 10:30:00,17.129175,17.229174,16.702513,0.028930,0.033768,17.059842,NaN,NaN
9,SZ.002405,2017-09-20 11:30:00,17.169175,17.262507,17.069176,0.041637,0.047347,17.057176,16.991843,0.07
10,SZ.002405,2017-09-20 14:00:00,17.309173,17.335840,17.049176,0.062287,0.070917,17.114508,17.030509,0.08
11,SZ.002405,2017-09-20 15:00:00,17.229174,17.402506,17.175841,0.071374,0.071272,17.145175,17.068509,0.08
12,SZ.002405,2017-09-21 10:30:00,17.282507,17.482505,17.029176,0.081934,0.073915,17.223841,17.113842,0.11
13,SZ.002405,2017-09-21 11:30:00,17.362506,17.509171,17.195841,0.095656,0.081087,17.270507,17.165175,0.11
14,SZ.002405,2017-09-21 14:00:00,17.049176,17.362506,17.022509,0.080322,0.040334,17.246507,17.151841,0.09
15,SZ.002405,2017-09-21 15:00:00,16.889177,17.069176,16.869178,0.054629,-0.008841,17.162508,17.138508,0.02
16,SZ.002405,2017-09-22 10:30:00,16.669180,16.929177,16.442515,0.016327,-0.068356,17.050509,17.097842,-0.05
17,SZ.002405,2017-09-22 11:30:00,16.709179,16.842511,16.622513,-0.010677,-0.097891,16.935844,17.079842,-0.14
18,SZ.002405,2017-09-22 14:00:00,17.042509,17.055842,16.662513,-0.005122,-0.069424,16.871844,17.071176,-0.20
19,SZ.002405,2017-09-22 15:00:00,17.029176,17.149175,16.922510,-0.001775,-0.050184,16.867844,17.057176,-0.19
20,SZ.002405,2017-09-25 10:30:00,17.195841,17.249174,16.662513,0.014163,-0.014647,16.929177,17.045842,-0.12
21,SZ.002405,2017-09-25 11:30:00,17.202508,17.222507,16.989176,0.027020,0.008854,17.035843,17.043176,-0.01
22,SZ.002405,2017-09-25 14:00:00,17.422505,17.562504,17.082509,0.054336,0.050788,17.178508,17.057176,0.12
23,SZ.002405,2017-09-25 15:00:00,17.469172,17.655836,17.375839,0.078840,0.079837,17.263840,17.067842,0.20
24,SZ.002405,2017-09-26 10:30:00,17.282507,17.769169,17.162508,0.082249,0.069324,17.314506,17.091175,0.22
25,SZ.002405,2017-09-26 11:30:00,17.115842,17.275840,16.909177,0.070688,0.036961,17.298507,17.113842,0.18
26,SZ.002405,2017-09-26 14:00:00,17.135842,17.189174,16.995843,0.062420,0.016340,17.285173,17.160508,0.12
27,SZ.002405,2017-09-26 15:00:00,17.189174,17.209174,16.849178,0.059485,0.008376,17.238507,17.208508,0.03
28,SZ.002405,2017-09-27 10:30:00,16.849178,17.169175,16.782512,0.029385,-0.041458,17.114508,17.189174,-0.07
29,SZ.002405,2017-09-27 11:30:00,17.115842,17.162508,16.849178,0.026741,-0.037398,17.081175,17.197841,-0.12
...,...,...,...,...,...,...,...,...,...,...
1910,SZ.002405,2019-09-03 14:00:00,16.240000,16.480000,16.170000,0.184740,-0.029088,16.218000,16.050000,0.17
1911,SZ.002405,2019-09-03 15:00:00,16.400000,16.430000,16.210000,0.193867,-0.008666,16.274000,16.087000,0.19
1912,SZ.002405,2019-09-04 10:30:00,16.320000,16.650000,16.150000,0.192427,-0.009237,16.304000,16.146000,0.16
1913,SZ.002405,2019-09-04 11:30:00,16.050000,16.370000,16.030000,0.167568,-0.047165,16.268000,16.186000,0.08
1914,SZ.002405,2019-09-04 14:00:00,16.100000,16.230000,16.010000,0.150170,-0.065568,16.222000,16.195000,0.03
1915,SZ.002405,2019-09-04 15:00:00,16.330000,16.330000,16.030000,0.153175,-0.047646,16.240000,16.229000,0.01
1916,SZ.002405,2019-09-05 10:30:00,16.770000,16.960000,16.240000,0.188884,0.019018,16.314000,16.294000,0.02
1917,SZ.002405,2019-09-05 11:30:00,16.890000,16.900000,16.680000,0.224281,0.071849,16.428000,16.366000,0.06
1918,SZ.002405,2019-09-05 14:00:00,16.910000,17.240000,16.890000,0.251054,0.100315,16.600000,16.434000,0.17
1919,SZ.002405,2019-09-05 15:00:00,16.750000,16.940000,16.680000,0.256405,0.088814,16.730000,16.476000,0.25
1920,SZ.002405,2019-09-06 10:30:00,16.770000,17.030000,16.640000,0.259270,0.075636,16.818000,16.529000,0.29
1921,SZ.002405,2019-09-06 11:30:00,16.940000,17.170000,16.690000,0.272122,0.081072,16.852000,16.583000,0.27
1922,SZ.002405,2019-09-06 14:00:00,16.760000,17.000000,16.730000,0.264731,0.053032,16.826000,16.627000,0.20
1923,SZ.002405,2019-09-06 15:00:00,17.100000,17.130000,16.690000,0.283046,0.071730,16.864000,16.732000,0.13
1924,SZ.002405,2019-09-09 10:30:00,17.360000,17.480000,17.060000,0.314911,0.108367,16.986000,16.858000,0.13
1925,SZ.002405,2019-09-09 11:30:00,17.600000,17.640000,17.310000,0.355432,0.151528,17.152000,16.985000,0.17
1926,SZ.002405,2019-09-09 14:00:00,17.600000,17.740000,17.530000,0.383130,0.165538,17.284000,17.068000,0.22
1927,SZ.002405,2019-09-09 15:00:00,17.880000,17.940000,17.480000,0.422800,0.195903,17.508000,17.167000,0.34
1928,SZ.002405,2019-09-10 10:30:00,17.370000,17.760000,17.370000,0.408378,0.133648,17.562000,17.213000,0.35
1929,SZ.002405,2019-09-10 11:30:00,17.350000,17.400000,17.200000,0.390830,0.078841,17.560000,17.273000,0.29
1930,SZ.002405,2019-09-10 14:00:00,17.400000,17.570000,17.330000,0.376616,0.040331,17.520000,17.336000,0.18
1931,SZ.002405,2019-09-10 15:00:00,17.500000,17.570000,17.340000,0.369165,0.020343,17.500000,17.392000,0.11
1932,SZ.002405,2019-09-11 10:30:00,17.390000,17.580000,17.280000,0.350346,-0.013837,17.402000,17.455000,-0.05
1933,SZ.002405,2019-09-11 11:30:00,17.390000,17.470000,17.250000,0.331609,-0.041049,17.406000,17.484000,-0.08
1934,SZ.002405,2019-09-11 14:00:00,17.150000,17.450000,17.110000,0.294004,-0.093006,17.366000,17.463000,-0.10
1935,SZ.002405,2019-09-11 15:00:00,17.140000,17.250000,17.080000,0.260394,-0.128182,17.314000,17.417000,-0.10
1936,SZ.002405,2019-09-12 10:30:00,17.330000,17.450000,17.130000,0.246250,-0.125175,17.280000,17.390000,-0.11
1937,SZ.002405,2019-09-12 11:30:00,17.490000,17.630000,17.250000,0.245126,-0.101939,17.300000,17.351000,-0.05
1938,SZ.002405,2019-09-12 14:00:00,17.380000,17.570000,17.300000,0.232677,-0.101469,17.298000,17.352000,-0.05
1939,SZ.002405,2019-09-12 15:00:00,17.480000,17.540000,17.360000,0.228249,-0.088260,17.364000,17.365000,-0.00

In [3]:
red_areas, blue_areas = find_successive_bar_areas(df60, 'macd_bar')
blue_areas

[(0, 3),
 (15, 20),
 (28, 40),
 (52, 79),
 (100, 102),
 (138, 141),
 (148, 163),
 (178, 195),
 (208, 208),
 (210, 210),
 (239, 253),
 (264, 264),
 (280, 284),
 (295, 309),
 (315, 332),
 (357, 391),
 (447, 457),
 (460, 477),
 (479, 499),
 (521, 530),
 (532, 548),
 (555, 555),
 (568, 576),
 (585, 596),
 (614, 639),
 (655, 674),
 (716, 735),
 (767, 776),
 (784, 789),
 (802, 802),
 (806, 815),
 (831, 860),
 (891, 917),
 (929, 939),
 (953, 970),
 (977, 981),
 (1006, 1041),
 (1065, 1069),
 (1074, 1079),
 (1096, 1114),
 (1133, 1135),
 (1138, 1161),
 (1167, 1171),
 (1184, 1199),
 (1211, 1227),
 (1236, 1255),
 (1279, 1279),
 (1296, 1316),
 (1339, 1340),
 (1362, 1364),
 (1378, 1381),
 (1392, 1412),
 (1416, 1418),
 (1429, 1430),
 (1433, 1447),
 (1469, 1476),
 (1501, 1525),
 (1535, 1551),
 (1555, 1560),
 (1564, 1579),
 (1607, 1612),
 (1624, 1630),
 (1638, 1656),
 (1682, 1696),
 (1704, 1718),
 (1720, 1723),
 (1734, 1763),
 (1787, 1787),
 (1807, 1807),
 (1816, 1846),
 (1877, 1888),
 (1900, 1915),
 (1932, 1939)]

In [4]:
df_blue = do_bar_wave_tag(df60, 'macd_bar', blue_areas)
df_blue['_macd_bar_tag']*=-1
df_buy = df_blue[df_blue._macd_bar_tag==-2]
df_buy.shape

(90, 2)

In [5]:
df_buy

      macd_bar  _macd_bar_tag
17    0.097891             -2
31    0.042800             -2
37    0.072252             -2
59    0.157445             -2
67    0.323298             -2
71    0.313908             -2
153   0.473440             -2
160   0.233928             -2
184   0.912455             -2
245   0.319858             -2
281   0.038925             -2
301   0.097367             -2
306   0.097287             -2
322   0.287804             -2
324   0.337546             -2
361   0.215733             -2
364   0.219362             -2
371   0.252139             -2
385   0.433862             -2
451   0.216907             -2
470   0.275436             -2
482   0.082903             -2
488   0.117412             -2
495   0.414873             -2
527   0.183588             -2
534   0.115124             -2
543   0.184524             -2
571   0.309658             -2
592   0.301372             -2
619   0.176641             -2
...        ...            ...
1247  0.062902             -2
1301  0.119564             -2
1311  0.085240             -2
1402  0.321008             -2
1409  0.184676             -2
1439  0.463173             -2
1472  0.189477             -2
1508  0.465189             -2
1519  0.201027             -2
1524  0.122646             -2
1543  0.264025             -2
1545  0.273248             -2
1571  0.572933             -2
1610  0.064900             -2
1627  0.108043             -2
1642  0.098598             -2
1649  0.095993             -2
1687  0.200913             -2
1710  0.209773             -2
1741  0.131131             -2
1747  0.360931             -2
1759  0.197842             -2
1822  0.148235             -2
1829  0.193797             -2
1833  0.159629             -2
1842  0.133980             -2
1884  0.195755             -2
1903  0.164690             -2
1914  0.065568             -2
1935  0.128182             -2

[90 rows x 2 columns]

In [6]:
buy_dates = df_buy.index.array
df_result_mp = []

for i in buy_dates:
    b_point = i+2
    dt = df60.at[b_point,'time_key']
    #print(dt)
    # é—®é¢˜çš„å…³é”®åœ¨è¿™é‡Œï¼Œè¿™é‡Œéœ€è¦ç»“åˆå¤šç§æƒ…å†µæ‰“åˆ†ï¼Œä½†çŽ°åœ¨å°±ä»¥å½“å‰ä»·æ ¼ä¹°å…¥ï¼ŒåŽé¢4å¤©å†…é«˜ç‚¹è·‘è·¯
    buy_price = df60.at[b_point,'close']
    
    sell_price = df60[b_point+1:b_point+4*4].high.max()
    df_tmp = df60[b_point+1:b_point+4*4]
    sell_dt = df_tmp[df_tmp['high']==sell_price].time_key.values[0]
    lowest_price = df60[b_point+1:b_point+4*4].high.min()
    
    good_buy = df_tmp[df_tmp['ma5']*0.99>df_tmp['low']]
    is_good_buy = good_buy.shape[0]
    min_good_buy = good_buy['low'].min()
    
    df_tmp['ma5*0.99'] = df_tmp['ma5']*0.99
    df_tmp_2 = df_tmp[df_tmp['ma5*0.99']>df_tmp['low']]
    if df_tmp_2.shape[0]>0:
        first_buy_price = df_tmp_2['ma5*0.99'].values[0]
        dt = df_tmp_2[df_tmp_2['ma5*0.99']==first_buy_price]['time_key'].values[0]
        
    else:
        first_buy_price = buy_price
        
    if is_good_buy>0:
        buy_price = min(buy_price, first_buy_price)
    
    #print(f'{buy_price}        {sell_price}')
    df_result_mp.append({"buy_dt":dt, "sell_dt":sell_dt, "buy_price":buy_price, "sell_price":sell_price, "lowest_price":lowest_price})
    
df_result = DataFrame(df_result_mp)
df_result

d:\program files\python3.7\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,buy_dt,buy_price,lowest_price,sell_dt,sell_price
0,2017-09-25 10:30:00,16.759885,17.142508,2017-09-26 10:30:00,17.769169
1,2017-09-28 15:00:00,16.924884,16.975843,2017-10-11 10:30:00,19.335820
2,2017-10-11 11:30:00,17.042509,17.442505,2017-10-11 10:30:00,19.335820
3,2017-10-16 14:00:00,17.876594,16.495848,2017-10-16 14:00:00,18.202498
4,2017-10-18 15:00:00,16.667486,16.495848,2017-10-18 14:00:00,17.082509
5,2017-10-19 15:00:00,16.272810,16.369183,2017-10-23 11:30:00,17.002510
6,2017-11-17 15:00:00,19.689149,19.782482,2017-11-21 15:00:00,21.882461
7,2017-11-22 11:30:00,20.002480,20.822471,2017-11-23 14:00:00,22.529121
8,2017-11-29 10:30:00,17.897714,17.875834,2017-11-28 15:00:00,18.735826
9,2017-12-22 15:00:00,17.429119,17.422505,2017-12-22 10:30:00,17.955833
10,2018-01-03 10:30:00,17.290520,17.622503,2018-01-08 10:30:00,18.389162
11,2018-01-10 14:00:00,17.319560,17.422505,2018-01-11 14:00:00,18.135832
12,2018-01-12 11:30:00,17.455838,16.429182,2018-01-11 14:00:00,18.135832
13,2018-01-17 11:30:00,15.569191,15.989186,2018-01-22 11:30:00,16.595847
14,2018-01-18 11:30:00,15.973173,15.989186,2018-01-22 11:30:00,16.595847
15,2018-01-31 10:30:00,16.049732,15.242527,2018-01-31 10:30:00,16.329183
16,2018-01-31 15:00:00,15.884734,14.622533,2018-01-31 15:00:00,16.095852
17,2018-02-02 15:00:00,15.125742,12.949217,2018-02-02 14:00:00,15.402526
18,2018-02-08 10:30:00,12.813125,12.982550,2018-02-13 10:30:00,13.675876
19,2018-03-13 10:30:00,16.242517,16.149185,2018-03-12 10:30:00,16.942510
20,2018-03-19 10:30:00,15.954693,15.882521,2018-03-16 14:00:00,16.462515
21,2018-03-21 15:00:00,15.767255,14.202538,2018-03-21 14:00:00,16.189184
22,2018-03-22 15:00:00,15.359379,14.202538,2018-03-28 10:30:00,16.662513
23,2018-03-29 10:30:00,14.382536,14.549201,2018-03-30 10:30:00,16.962510
24,2018-04-10 10:30:00,17.140041,16.709179,2018-04-09 14:00:00,17.735836
25,2018-04-11 15:00:00,16.852284,16.709179,2018-04-16 11:30:00,17.349173
26,2018-04-16 10:30:00,16.618647,16.802512,2018-04-18 15:00:00,18.489161
27,2018-04-26 10:30:00,17.109175,17.349173,2018-04-26 11:30:00,18.282497
28,2018-05-04 15:00:00,16.929177,17.415839,2018-05-09 10:30:00,18.089165
29,2018-05-14 14:00:00,16.885284,16.629180,2018-05-15 15:00:00,17.162508
...,...,...,...,...,...
60,2019-01-02 10:30:00,9.342870,9.470575,2019-01-07 10:30:00,10.123902
61,2019-01-22 10:30:00,10.557231,10.443899,2019-01-24 11:30:00,10.823895
62,2019-01-25 10:30:00,10.430566,10.443899,2019-01-28 11:30:00,11.283890
63,2019-03-04 15:00:00,15.329010,15.183851,2019-03-07 15:00:00,17.143832
64,2019-03-06 14:00:00,15.587727,15.623847,2019-03-08 11:30:00,17.257164
65,2019-03-15 14:00:00,14.604337,14.643857,2019-03-19 11:30:00,15.417182
66,2019-03-28 10:30:00,14.028823,14.170528,2019-04-02 11:30:00,17.723826
67,2019-04-11 11:30:00,17.199431,17.017166,2019-04-11 10:30:00,18.163822
68,2019-04-15 15:00:00,17.113632,17.017166,2019-04-17 14:00:00,20.110469
69,2019-04-17 11:30:00,17.707626,17.443829,2019-04-17 14:00:00,20.110469
70,2019-04-23 14:00:00,16.753276,16.783835,2019-04-25 10:30:00,17.550494
71,2019-04-24 10:30:00,16.627877,16.783835,2019-04-25 10:30:00,17.550494
72,2019-05-07 14:00:00,13.937744,14.097196,2019-05-10 15:00:00,14.957187
73,2019-05-22 11:30:00,14.771975,14.617190,2019-05-23 10:30:00,15.437182
74,2019-05-28 15:00:00,14.697190,14.577191,2019-05-28 10:30:00,15.297184
75,2019-06-03 10:30:00,14.345620,14.363860,2019-05-31 11:30:00,14.643857
76,2019-06-04 15:00:00,14.224181,14.363860,2019-06-10 10:30:00,15.323850
77,2019-06-18 15:00:00,15.810300,16.050000,2019-06-21 10:30:00,17.000000
78,2019-06-27 10:30:00,15.974640,16.120000,2019-07-01 15:00:00,17.260000
79,2019-07-08 10:30:00,16.077600,14.910000,2019-07-08 10:30:00,16.360000
80,2019-07-10 10:30:00,14.927220,14.080000,2019-07-09 15:00:00,15.250000
81,2019-07-15 10:30:00,14.261940,14.420000,2019-07-15 14:00:00,14.970000
82,2019-08-05 15:00:00,14.646060,13.920000,2019-08-05 11:30:00,15.220000
83,2019-08-07 11:30:00,13.929300,13.330000,2019-08-07 10:30:00,14.390000
84,2019-08-08 10:30:00,13.798620,13.330000,2019-08-08 10:30:00,14.040000
85,2019-08-15 10:30:00,13.350000,13.420000,2019-08-15 15:00:00,14.760000
86,2019-08-27 10:30:00,14.980000,15.010000,2019-08-28 11:30:00,16.480000
87,2019-09-04 11:30:00,15.990000,16.230000,2019-09-05 14:00:00,17.240000
88,2019-09-06 10:30:00,16.649820,16.900000,2019-09-09 15:00:00,17.940000
89,2019-09-12 11:30:00,17.490000,17.540000,2019-09-12 14:00:00,17.570000

In [7]:
df_result['pct_change'] = (df_result['sell_price']-df_result['buy_price'])/df_result['buy_price']*100
df_result['lowest_distance'] = (df_result['lowest_price']-df_result['buy_price'])/df_result['buy_price']*100

x = DataFrame()
mp = {}
for i in [1.5, 2, 3,5, 10]:
    df_ok = df_result[df_result['pct_change']>=i]
    succ_ratio = df_ok.shape[0]/df_result.shape[0]
    mp[f'>{i}']=succ_ratio
    
x.append(mp, ignore_index=True)

df_result.loc[df_result['pct_change']>=2].shape

df_result

,buy_dt,buy_price,lowest_price,sell_dt,sell_price,pct_change,lowest_distance
0,2017-09-25 10:30:00,16.759885,17.142508,2017-09-26 10:30:00,17.769169,6.022018,2.282969
1,2017-09-28 15:00:00,16.924884,16.975843,2017-10-11 10:30:00,19.335820,14.244919,0.301093
2,2017-10-11 11:30:00,17.042509,17.442505,2017-10-11 10:30:00,19.335820,13.456413,2.347049
3,2017-10-16 14:00:00,17.876594,16.495848,2017-10-16 14:00:00,18.202498,1.823074,-7.723765
4,2017-10-18 15:00:00,16.667486,16.495848,2017-10-18 14:00:00,17.082509,2.490013,-1.029778
5,2017-10-19 15:00:00,16.272810,16.369183,2017-10-23 11:30:00,17.002510,4.484164,0.592230
6,2017-11-17 15:00:00,19.689149,19.782482,2017-11-21 15:00:00,21.882461,11.139696,0.474030
7,2017-11-22 11:30:00,20.002480,20.822471,2017-11-23 14:00:00,22.529121,12.631641,4.099451
8,2017-11-29 10:30:00,17.897714,17.875834,2017-11-28 15:00:00,18.735826,4.682787,-0.122248
9,2017-12-22 15:00:00,17.429119,17.422505,2017-12-22 10:30:00,17.955833,3.022040,-0.037943
10,2018-01-03 10:30:00,17.290520,17.622503,2018-01-08 10:30:00,18.389162,6.354016,1.920032
11,2018-01-10 14:00:00,17.319560,17.422505,2018-01-11 14:00:00,18.135832,4.713006,0.594390
12,2018-01-12 11:30:00,17.455838,16.429182,2018-01-11 14:00:00,18.135832,3.895506,-5.881450
13,2018-01-17 11:30:00,15.569191,15.989186,2018-01-22 11:30:00,16.595847,6.594154,2.697608
14,2018-01-18 11:30:00,15.973173,15.989186,2018-01-22 11:30:00,16.595847,3.898248,0.100251
15,2018-01-31 10:30:00,16.049732,15.242527,2018-01-31 10:30:00,16.329183,1.741155,-5.029399
16,2018-01-31 15:00:00,15.884734,14.622533,2018-01-31 15:00:00,16.095852,1.329062,-7.945998
17,2018-02-02 15:00:00,15.125742,12.949217,2018-02-02 14:00:00,15.402526,1.829887,-14.389541
18,2018-02-08 10:30:00,12.813125,12.982550,2018-02-13 10:30:00,13.675876,6.733342,1.322278
19,2018-03-13 10:30:00,16.242517,16.149185,2018-03-12 10:30:00,16.942510,4.309634,-0.574618
20,2018-03-19 10:30:00,15.954693,15.882521,2018-03-16 14:00:00,16.462515,3.182899,-0.452359
21,2018-03-21 15:00:00,15.767255,14.202538,2018-03-21 14:00:00,16.189184,2.675984,-9.923842
22,2018-03-22 15:00:00,15.359379,14.202538,2018-03-28 10:30:00,16.662513,8.484287,-7.531825
23,2018-03-29 10:30:00,14.382536,14.549201,2018-03-30 10:30:00,16.962510,17.938243,1.158801
24,2018-04-10 10:30:00,17.140041,16.709179,2018-04-09 14:00:00,17.735836,3.476037,-2.513776
25,2018-04-11 15:00:00,16.852284,16.709179,2018-04-16 11:30:00,17.349173,2.948493,-0.849173
26,2018-04-16 10:30:00,16.618647,16.802512,2018-04-18 15:00:00,18.489161,11.255518,1.106377
27,2018-04-26 10:30:00,17.109175,17.349173,2018-04-26 11:30:00,18.282497,6.857850,1.402742
28,2018-05-04 15:00:00,16.929177,17.415839,2018-05-09 10:30:00,18.089165,6.852007,2.874693
29,2018-05-14 14:00:00,16.885284,16.629180,2018-05-15 15:00:00,17.162508,1.641808,-1.516729
...,...,...,...,...,...,...,...
60,2019-01-02 10:30:00,9.342870,9.470575,2019-01-07 10:30:00,10.123902,8.359661,1.366876
61,2019-01-22 10:30:00,10.557231,10.443899,2019-01-24 11:30:00,10.823895,2.525890,-1.073503
62,2019-01-25 10:30:00,10.430566,10.443899,2019-01-28 11:30:00,11.283890,8.181002,0.127828
63,2019-03-04 15:00:00,15.329010,15.183851,2019-03-07 15:00:00,17.143832,11.839133,-0.946953
64,2019-03-06 14:00:00,15.587727,15.623847,2019-03-08 11:30:00,17.257164,10.709943,0.231719
65,2019-03-15 14:00:00,14.604337,14.643857,2019-03-19 11:30:00,15.417182,5.565780,0.270602
66,2019-03-28 10:30:00,14.028823,14.170528,2019-04-02 11:30:00,17.723826,26.338654,1.010101
67,2019-04-11 11:30:00,17.199431,17.017166,2019-04-11 10:30:00,18.163822,5.607106,-1.059714
68,2019-04-15 15:00:00,17.113632,17.017166,2019-04-17 14:00:00,20.110469,17.511401,-0.563677
69,2019-04-17 11:30:00,17.707626,17.443829,2019-04-17 14:00:00,20.110469,13.569536,-1.489739
70,2019-04-23 14:00:00,16.753276,16.783835,2019-04-25 10:30:00,17.550494,4.758584,0.182410
71,2019-04-24 10:30:00,16.627877,16.783835,2019-04-25 10:30:00,17.550494,5.548619,0.937934
72,2019-05-07 14:00:00,13.937744,14.097196,2019-05-10 15:00:00,14.957187,7.314263,1.144029
73,2019-05-22 11:30:00,14.771975,14.617190,2019-05-23 10:30:00,15.437182,4.503167,-1.047829
74,2019-05-28 15:00:00,14.697190,14.577191,2019-05-28 10:30:00,15.297184,4.082372,-0.816474
75,2019-06-03 10:30:00,14.345620,14.363860,2019-05-31 11:30:00,14.643857,2.078942,0.127146
76,2019-06-04 15:00:00,14.224181,14.363860,2019-06-10 10:30:00,15.323850,7.730983,0.981980
77,2019-06-18 15:00:00,15.810300,16.050000,2019-06-21 10:30:00,17.000000,7.524841,1.516100
78,2019-06-27 10:30:00,15.974640,16.120000,2019-07-01 15:00:00,17.260000,8.046253,0.909942
79,2019-07-08 10:30:00,16.077600,14.910000,2019-07-08 10:30:00,16.360000,1.756481,-7.262278
80,2019-07-10 10:30:00,14.927220,14.080000,2019-07-09 15:00:00,15.250000,2.162358,-5.675672
81,2019-07-15 10:30:00,14.261940,14.420000,2019-07-15 14:00:00,14.970000,4.964682,1.108264
82,2019-08-05 15:00:00,14.646060,13.920000,2019-08-05 11:30:00,15.220000,3.918733,-4.957374
83,2019-08-07 11:30:00,13.929300,13.330000,2019-08-07 10:30:00,14.390000,3.307417,-4.302442
84,2019-08-08 10:30:00,13.798620,13.330000,2019-08-08 10:30:00,14.040000,1.749305,-3.396137
85,2019-08-15 10:30:00,13.350000,13.420000,2019-08-15 15:00:00,14.760000,10.561798,0.524345
86,2019-08-27 10:30:00,14.980000,15.010000,2019-08-28 11:30:00,16.480000,10.013351,0.200267
87,2019-09-04 11:30:00,15.990000,16.230000,2019-09-05 14:00:00,17.240000,7.817386,1.500938
88,2019-09-06 10:30:00,16.649820,16.900000,2019-09-09 15:00:00,17.940000,7.748913,1.502599
89,2019-09-12 11:30:00,17.490000,17.540000,2019-09-12 14:00:00,17.570000,0.457404,0.285878

In [8]:
# ä»Ž2ä¸ªæ–¹é¢å‡å°‘æ€»é‡ï¼Œç¬¬ä¸€æ˜¯ä¹°å…¥åŽä¸‹è·Œå¤ªå¤šçš„ï¼Œç¬¬äºŒæ˜¯å–å‡ºæ—¥æœŸåœ¨ä¹°å…¥ä¹‹å‰çš„ã€‚é’ˆå¯¹è¿™2ä¸ªåšå…·ä½“åˆ†æž

df_result[(df_result['pct_change']>=2) & (df_result['lowest_distance']>=-3)]

,buy_dt,buy_price,lowest_price,sell_dt,sell_price,pct_change,lowest_distance
0,2017-09-25 10:30:00,16.759885,17.142508,2017-09-26 10:30:00,17.769169,6.022018,2.282969
1,2017-09-28 15:00:00,16.924884,16.975843,2017-10-11 10:30:00,19.335820,14.244919,0.301093
2,2017-10-11 11:30:00,17.042509,17.442505,2017-10-11 10:30:00,19.335820,13.456413,2.347049
4,2017-10-18 15:00:00,16.667486,16.495848,2017-10-18 14:00:00,17.082509,2.490013,-1.029778
5,2017-10-19 15:00:00,16.272810,16.369183,2017-10-23 11:30:00,17.002510,4.484164,0.592230
6,2017-11-17 15:00:00,19.689149,19.782482,2017-11-21 15:00:00,21.882461,11.139696,0.474030
7,2017-11-22 11:30:00,20.002480,20.822471,2017-11-23 14:00:00,22.529121,12.631641,4.099451
8,2017-11-29 10:30:00,17.897714,17.875834,2017-11-28 15:00:00,18.735826,4.682787,-0.122248
9,2017-12-22 15:00:00,17.429119,17.422505,2017-12-22 10:30:00,17.955833,3.022040,-0.037943
10,2018-01-03 10:30:00,17.290520,17.622503,2018-01-08 10:30:00,18.389162,6.354016,1.920032
11,2018-01-10 14:00:00,17.319560,17.422505,2018-01-11 14:00:00,18.135832,4.713006,0.594390
13,2018-01-17 11:30:00,15.569191,15.989186,2018-01-22 11:30:00,16.595847,6.594154,2.697608
14,2018-01-18 11:30:00,15.973173,15.989186,2018-01-22 11:30:00,16.595847,3.898248,0.100251
18,2018-02-08 10:30:00,12.813125,12.982550,2018-02-13 10:30:00,13.675876,6.733342,1.322278
19,2018-03-13 10:30:00,16.242517,16.149185,2018-03-12 10:30:00,16.942510,4.309634,-0.574618
20,2018-03-19 10:30:00,15.954693,15.882521,2018-03-16 14:00:00,16.462515,3.182899,-0.452359
23,2018-03-29 10:30:00,14.382536,14.549201,2018-03-30 10:30:00,16.962510,17.938243,1.158801
24,2018-04-10 10:30:00,17.140041,16.709179,2018-04-09 14:00:00,17.735836,3.476037,-2.513776
25,2018-04-11 15:00:00,16.852284,16.709179,2018-04-16 11:30:00,17.349173,2.948493,-0.849173
26,2018-04-16 10:30:00,16.618647,16.802512,2018-04-18 15:00:00,18.489161,11.255518,1.106377
27,2018-04-26 10:30:00,17.109175,17.349173,2018-04-26 11:30:00,18.282497,6.857850,1.402742
28,2018-05-04 15:00:00,16.929177,17.415839,2018-05-09 10:30:00,18.089165,6.852007,2.874693
30,2018-05-16 15:00:00,16.784965,16.629180,2018-05-15 15:00:00,17.162508,2.249293,-0.928122
31,2018-05-22 10:30:00,16.689179,16.642513,2018-05-21 15:00:00,17.122508,2.596467,-0.279620
32,2018-05-30 10:30:00,15.284140,15.069196,2018-05-29 14:00:00,15.635857,2.301187,-1.406323
33,2018-05-30 15:00:00,15.059742,14.935864,2018-06-01 10:30:00,15.402526,2.276157,-0.822581
35,2018-06-25 14:00:00,12.431649,12.495888,2018-06-27 10:30:00,13.122548,5.557589,0.516742
37,2018-07-17 10:30:00,12.789218,12.929217,2018-07-16 11:30:00,13.475878,5.369052,1.094661
38,2018-07-20 11:30:00,12.809218,13.062549,2018-07-25 10:30:00,13.855874,8.171117,1.977723
40,2018-08-03 11:30:00,11.810552,11.697220,2018-08-03 11:30:00,12.050549,2.032061,-0.959584
...,...,...,...,...,...,...,...
52,2018-11-12 11:30:00,10.643897,10.710563,2018-11-15 10:30:00,11.090559,4.196416,0.626331
54,2018-11-26 15:00:00,10.257621,10.223901,2018-11-29 10:30:00,10.643897,3.765748,-0.328728
56,2018-12-10 10:30:00,10.115062,10.123902,2018-12-12 10:30:00,10.337233,2.196439,0.087394
57,2018-12-18 14:00:00,9.954024,9.910571,2018-12-21 10:30:00,10.170568,2.175447,-0.436536
58,2018-12-21 15:00:00,9.881424,9.663907,2018-12-21 10:30:00,10.170568,2.926135,-2.201280
59,2018-12-26 14:00:00,9.659667,9.470575,2018-12-27 10:30:00,9.883904,2.321382,-1.957536
60,2019-01-02 10:30:00,9.342870,9.470575,2019-01-07 10:30:00,10.123902,8.359661,1.366876
61,2019-01-22 10:30:00,10.557231,10.443899,2019-01-24 11:30:00,10.823895,2.525890,-1.073503
62,2019-01-25 10:30:00,10.430566,10.443899,2019-01-28 11:30:00,11.283890,8.181002,0.127828
63,2019-03-04 15:00:00,15.329010,15.183851,2019-03-07 15:00:00,17.143832,11.839133,-0.946953
64,2019-03-06 14:00:00,15.587727,15.623847,2019-03-08 11:30:00,17.257164,10.709943,0.231719
65,2019-03-15 14:00:00,14.604337,14.643857,2019-03-19 11:30:00,15.417182,5.565780,0.270602
66,2019-03-28 10:30:00,14.028823,14.170528,2019-04-02 11:30:00,17.723826,26.338654,1.010101
67,2019-04-11 11:30:00,17.199431,17.017166,2019-04-11 10:30:00,18.163822,5.607106,-1.059714
68,2019-04-15 15:00:00,17.113632,17.017166,2019-04-17 14:00:00,20.110469,17.511401,-0.563677
69,2019-04-17 11:30:00,17.707626,17.443829,2019-04-17 14:00:00,20.110469,13.569536,-1.489739
70,2019-04-23 14:00:00,16.753276,16.783835,2019-04-25 10:30:00,17.550494,4.758584,0.182410
71,2019-04-24 10:30:00,16.627877,16.783835,2019-04-25 10:30:00,17.550494,5.548619,0.937934
72,2019-05-07 14:00:00,13.937744,14.097196,2019-05-10 15:00:00,14.957187,7.314263,1.144029
73,2019-05-22 11:30:00,14.771975,14.617190,2019-05-23 10:30:00,15.437182,4.503167,-1.047829
74,2019-05-28 15:00:00,14.697190,14.577191,2019-05-28 10:30:00,15.297184,4.082372,-0.816474
75,2019-06-03 10:30:00,14.345620,14.363860,2019-05-31 11:30:00,14.643857,2.078942,0.127146
76,2019-06-04 15:00:00,14.224181,14.363860,2019-06-10 10:30:00,15.323850,7.730983,0.981980
77,2019-06-18 15:00:00,15.810300,16.050000,2019-06-21 10:30:00,17.000000,7.524841,1.516100
78,2019-06-27 10:30:00,15.974640,16.120000,2019-07-01 15:00:00,17.260000,8.046253,0.909942
81,2019-07-15 10:30:00,14.261940,14.420000,2019-07-15 14:00:00,14.970000,4.964682,1.108264
85,2019-08-15 10:30:00,13.350000,13.420000,2019-08-15 15:00:00,14.760000,10.561798,0.524345
86,2019-08-27 10:30:00,14.980000,15.010000,2019-08-28 11:30:00,16.480000,10.013351,0.200267
87,2019-09-04 11:30:00,15.990000,16.230000,2019-09-05 14:00:00,17.240000,7.817386,1.500938
88,2019-09-06 10:30:00,16.649820,16.900000,2019-09-09 15:00:00,17.940000,7.748913,1.502599